img{
    width: -webkit-fill-available;
  }
  
  .glow {
animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes  glow {
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
   0 0 70px #e60073,  0 0 80px #500229; }

to {text-shadow: 
   0 0 80px #8a0849, 0 0 70px #ff4da6, 0 0 60px #ff4da6,  0 0 50px #ff4da6, 0 0 40px #ff4da6, 0 0 30px #ff4da6, 0 0 20px #fff;
}
}
.col-sm-6>img:hover{
transform: scale(0.9);
}
footer{
background-image: url('../images/home/footer.jpg') ;
 background-repeat:no-repeat; 
  background-size: cover;
   background-attachment: fixed ;
}
footer button{
color:black;
font-size: 30px;
border-radius: 35px;
}
footer button:hover{
   transform: scale(1.3);
}
footer p{
   font-family:'Dancing Script', cursive; font-size: 5vw
}